* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0 !important;
}

.header a {
    color: white;
    text-decoration: none;
}

.header img {
    border-radius: 25px;
}

.header-header {
    background-image: url("../Images/header_desktop_a4bfadd206.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.header-p1 {
    padding-top: 5px;
    padding-bottom: 20px;
}

.header-p1 > div > p {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.tiem-chung > p > a {
    color: white;
}

@media only screen and (max-width: 767px) {
    /* For mobile */
    .tu-van-1 {
        display: none;
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop */
    .tu-van-1 > p {
        text-align: right;
    }
}

div.header-p2 {
    box-sizing: border-box;
    padding-bottom: 10px;
}

.header-p2 > div {
    text-align: center;
    display: inline-flex;
}

.logo {
    padding: 0 !important;
}

@media only screen and (max-width: 767px) {
    .logo > div .logo > a {
        width: 70%;
        display: inline;
    }
    .logo > div {
        width: 15%;
        display: inline;
    }
}

@media only screen and (min-width: 768px) {
    .tien-ich {
        display: none;
    }
}

.tien-ich {
    width: fit-content;
    margin: auto;
}

.tien-ich button {
    background: none;
    background-color: rgba(35, 92, 216, 0.527);
    box-sizing: border-box;
    padding: 4px 12px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: x-large;
}

.tien-ich button:active  {
    background-color: rgb(20, 70, 179);
}

.logo > a {
    height: 55px;
    width: 100%;
    padding: 0;
}

.logo-img {
    height: inherit;
}

.search-bar > span {
    box-sizing: border-box;
    padding: 8px 10px;
    display: inline-block;
    width: 100%;
    height: 55px;
    background-color: white;
    text-align: center;

}

.search-bar-box:active {
    border: none !important;
}

.search-btn {
    background-color:rgb(199, 215, 250);
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    padding: 8px 0px;
}

.dang-nhap-gio-hang {
    padding: 0 !important;
}

@media only screen and (max-width: 767px) {
    div.dang-nhap, div.dang-nhap > a, div.dang-nhap > a > i  {
        display:none;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop */
    .dang-nhap {
        display: block;
    }
    .dang-nhap > a > p, .gio-hang > a > p{
        display: inline;
    }
    .dang-nhap > a > i, .gio-hang > a > i {
        display: inline;
    }
}

@media only screen and (max-width: 1200px){
    .dang-nhap > a > p, .gio-hang > a > p {
        font-size: medium;
    }
    .dang-nhap > a > i, .gio-hang > a > i {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    /* For mobile */
    .dang-nhap, .dang-nhap > a > i {
        display: inline;
    }
    .dang-nhap > a > p, .gio-hang > a > p {
        display: none;
    }
    .dang-nhap > a > i, .gio-hang > a > i {
        display: inline;
    }
}

.dang-nhap, .gio-hang {
    width: 50% !important;
}

.dang-nhap a *, .gio-hang a * {
    width: 50% !important;
    display: inline;
}

.dang-nhap a, .gio-hang a {
    box-sizing: border-box;
    margin-top: 10px;
}

.dang-nhap a {
    text-decoration: 0;
}

.gio-hang a {
    border-radius: 25px;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) {
    ul.header-p3, div.nav-bar {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    div.nav-bar ul li a {
        font-size: small !important;
    }
}

@media only screen and (min-width: 992px) {
    div.nav-bar ul li a {
        font-size: 14px;
    }
}

.header-p3 {
    padding-bottom: 10px;
}

.header-p3 li a {
    color: white;
    font-size: small;
}

.nav-bar {
    background-color: white;
    padding: 5px 0;
}

.nav-bar a {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}



@media only screen and (max-width: 767px) {
    .dang-nhap-box {
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
    .dang-nhap-inner {
        top: 50%;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 768px) {
    .dang-nhap-box {
        border-radius: 15px;
        width: fit-content;
        height: fit-content;
    }
}

#dangnhapmodal {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #33333349;
    position: fixed;
    z-index: 1;
    top: 0;
    text-align: center;
    display: none;
    z-index: 100;
}

.dang-nhap-box {
    background-color: white;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    top: 50%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
    .dang-nhap-box > * {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) {
    .dang-nhap-box > * {
        width: 70%;
    }
}

.dang-nhap-box > * {
    box-sizing: border-box;
    margin: auto;
    padding: 5px 0;
}

.dang-nhap-sdt input#sdt {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.tiep-tuc-sdt {
    width: 100%;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background-color:rgb(35, 92, 216);
    color: white;
    font-size: larger;
    font-weight: bold;
}

.dang-nhap-bang {
    box-sizing: border-box;
    padding: 15px 0;
}

.dang-nhap-khac button {
    border: none;
    border-radius: 100%;
}

.dang-nhap-khac button:hover, .dang-nhap-khac button:active {
    background-color: #3333332c;
}

.dang-nhap-khac button img {
    box-sizing: border-box;
    height: 45px;
    width: 45px;
}

.dang-nhap-box-exit {
    text-align: end;
    margin: 0;
    width: 100% !important;
    height: fit-content;
    padding: 0;
}

.dang-nhap-box-exit button {
    border: none;
    background: none;
    font-size:xx-large;
    color: #313131ab;
}

.dang-nhap-box-exit button:hover {
    color: #333;
}

#hidden-tab {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: #33333349;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    text-align: center;
    display: none;
    z-index: 99;
}

.hidden-tab-box {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    height: 100%;
    max-width: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.hidden-tab-header {
    display: grid;
    grid-template-columns: 80% 20%;
    height: fit-content;
    width: 100%;
}

.hidden-tab-logo img {
    width: 100%;
}

.hidden-tab-exit {
    margin: auto;
    text-align: right;
}

.hidden-tab-exit button {
    background:none;
    border: none;
    font-size:x-large;
}

.hidden-tab-dang-nhap {
    padding: 30px 0;
    border-top: 2px solid #33333385;
    border-bottom: 2px solid #33333385;
    background-color: rgb(35, 92, 216);
}

.hidden-tab-dang-nhap a {
    text-decoration: none;
    background-color: rgb(230, 238, 253);
    border-radius: 50px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.hidden-tab-dang-nhap a * {
    display: inline;
    font-weight: bold;
    color: rgb(35, 92, 216);
}

.hidden-tab-items {
    border-bottom: 2px solid #33333385;
}

.hidden-tab-item {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #333;
    font-size: larger;
    font-weight: bold;
    box-sizing: border-box;
    padding: 20px 0;
    border-top: 1px solid #33333385;
}

.hidden-tab-item.special {
    border: none;
}

.hidden-tab-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    max-width: 300px;
    width: 100%;
    background-color: rgb(35, 92, 216);
}

.hidden-tab-hotline {
    color: rgb(230, 238, 253);
    padding: 20px 0;
    font-weight: bold;
    font-size: larger;
}

#hidden-gio-hang {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: #33333349;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    text-align: center;
    display: none;
    z-index: 99;
}

.hidden-gh-tab-box {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    height: 100%;
    max-width: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
    position: absolute;
    right: 0;
}

.hidden-gh-tab-header {
    display: grid;
    grid-template-columns: 80% 20%;
    height: fit-content;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.493);
}

.hidden-gh-tab-title h2 {
    width: 224px;
    height: min-content;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    background-color: rgb(35, 92, 216);
    border-radius: 50px;
}

.hidden-gh-tab-exit {
    margin: auto;
    text-align: right;
    box-sizing: border-box;
    padding: 0 20px;
}

.hidden-gh-tab-exit button {
    background:none;
    border: none;
    font-size:x-large;
}

