.doctor.bg-container {
    background-color: rgb(195, 225, 252);
    box-sizing: border-box;
    padding: 40px 0;
}

.container-doctor {
    background: linear-gradient(135deg, #1e88e5, #1976d2);
    padding: 30px;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.doctor-card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(243, 189, 189, 0.1);
    transition: transform 0.3s ease;
}
.doctor-card:hover {
    transform: translateY(-10px);
}
.doctor-card img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.doctor-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #0e8bf8;
    font-weight: bold;
}
.doctor-card p {
    font-size: 16px;
    color: #666;
}
.carousel-control-prev,
.carousel-control-next {
    display: none;
}
.custom-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 15px;
}
.custom-controls i {
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s;
}
.custom-controls i:hover {
    background-color: rgba(0, 0, 0, 0.7);
}