* {
    padding: 0;
    margin: 0;
}

p {
    margin: 0 !important;
}

a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 25px;
}

.header {
    background-image: url("../Images/header_desktop_a4bfadd206.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.header-p1 {
    padding-top: 5px;
    padding-bottom: 20px;
}

.header-p1 > div > p {
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.tiem-chung > p > a {
    color: white;
}

.tu-van > p {
    text-align: right;
}

.header-p2 div {
    text-align: center;
}

.logo > a {
    height: 55px;
    width: 100%;
}

.logo-img {
    height: inherit;
}

.search-bar > span {
    box-sizing: border-box;
    padding: 8px 10px;
    display: inline-block;
    width: 100%;
    height: 55px;
    background-color: white;
    text-align: center;
}

.search-btn {
    background-color:rgb(199, 215, 250);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 0px;
}

.dang-nhap, .gio-hang {
    width: 50% !important;
}

.dang-nhap a {
    text-decoration: 0;
}

.gio-hang a {
    border-radius: 25px;
    box-sizing: border-box;
    margin: 5px;
}

.header-p3 {
    padding-bottom: 10px;
}

.header-p3 li a {
    color: white;
    font-size: 14px;
}

.nav-bar {
    background-color: white;
    padding: 5px 0;
}

.nav-bar a {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-toggle:after {
    display: none;
}



