.spbc-sp .col {
    box-sizing: border-box;
    padding: 5px !important;
}

.sp.card {
    padding: 10px;
    border-radius: 15px;
    border: none;
    text-align: left;
    height: 100%;
}

.sp.card:hover {
    border: 2px solid rgb(65, 65, 194);
}

.sp .card-body a {
    text-decoration: none;
    height: fit-content;
}

.sp .card-body a .card-title {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
}

.sp .card-body .card-text span{
    font-size: medium;
    font-weight: 400;
}

.sp .card-body .card-text.text-secondary {
    text-decoration:line-through 1px solid;
}

.sp .card-body .card-text.so-luong {
    background-color:lightgray;
    box-sizing: border-box;
    padding: 2px 10px;
    margin-bottom: 5px;
    width: fit-content;
    border-radius: 5px;
}

.sp .card-body .card-text.so-luong p {
    font-size: small;
    font-weight: bold;
}

.sp .card-body .btn-chon-mua {
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.sp .card-body .giam-gia {
    border-radius: 15px 2px 15px 2px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, orange , red)
}