.san-pham-ban-chay.bg-container {
    background-color: rgb(255, 241, 224);
}

.san-pham-ban-chay.container {
    box-sizing: border-box;
    padding: 10px;
}

.spbc-title {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
}